.jumpBox {
    color: white;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.insideJumpBox {
    background-color: white;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.controlButton {
    position: absolute; /* Make it absolute within the insideSquareBox */
    top: 1%; /* Position it at the top */
    left: 5%; /* Adjust left as needed */
    z-index: 2; /* Ensure it's above other elements */
    background-color: white; /* Optional background */
    color: black; /* Optional text color */
    border: none; /* Optional border */
    cursor: pointer; /* Optional cursor style */
    border-radius: 5px;
    height: 3%;
    width: 12%;
    font-size: 15px;
    cursor: url('../src/assets/PixelPointer3x.png'), auto;
}

.controlButton:hover {
    color: white;
    background-color: grey;
    cursor: url('../src/assets/PixelPointer3x.png'), auto;
}

.sky {
    background-color: skyblue;
    height: 70%;
    position: relative;
}

.ground {
    background-color: sandybrown;
    height: 30%;
}

#jumpSquare {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}